.head {
    width: 100%;
    background: $DarkColor;
    position: sticky;
    top: 0;
    z-index: 10;

    &__menu {
        width: 100%;
        // position: relative;


        & .container {
            padding-top: 77px;
            padding-bottom: 40px;
            display: flex;
            align-items: center;
            z-index: 10;

            @media (max-width: 991px) {
                padding-top: 65px;
                padding-bottom: 50px;
            }

            @media (max-width: 768px) {
                padding-top: 50px;
                padding-bottom: 35px;
            }

            @media (max-width: 550px) {
                padding-top: 35px;
            }
        }
    }
}

.false__navbar-bg {
    position: fixed;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 137px;
    background: rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        top: 0;
    }

    &.show {
        display: block;
        opacity: 1;
        animation: showBg 0.3s ease-in 0.2s forwards normal;
    }
}

.false-navbar {
    display: none;
    margin-left: auto;
    background: $DarkColor;
    position: fixed;
    width: calc(250 / 320 * 100%);
    max-width: 350px;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 45px 12px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;

    & .navbar__nav {
        display: block;
        transition: all 0.3s;
        height: 100%;
        overflow-y: auto;
    }

    &.active {
        animation: showMobileMenu 0.3s ease-in forwards normal;
    }
}

.navbar {
    margin-left: 213px;
    position: relative;

    @media (max-width: 991px) {
        margin-left: auto;
    }

    @media (max-width: 768px) {}

    &__toggler {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }

        &-btn {
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: auto;

            & svg {

                & rect {
                    transition: transform 0.25s;
                }
            }

            &.active {
                & svg {
                    & rect:nth-of-type(1) {
                        transform: rotate(45deg);
                        transform-origin: 4px 4px;
                    }

                    & rect:nth-of-type(3) {
                        display: none;
                    }

                    & rect:nth-of-type(2) {
                        transform: rotate(-45deg);
                        transform-origin: 16px 16px;
                    }
                }
            }
        }
    }

    &__nav {
        display: block;
        transition: all 0.3s;

        @media (max-width: 768px) {
            display: none;
            height: 0;
            overflow-y: auto;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 32px;

        @media (max-width: 768px) {
            flex-direction: column;
            row-gap: 21px;
            align-items: flex-start;
            margin-top: 30px;
        }
    }

    &__item {
        padding: 10px 0;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            padding-left: 39px;
        }

        &:hover {

            &>.navbar__link {
                text-decoration: none;
                color: #FFFFFF;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__link {
        font-size: 1rem;
        color: $LightColor;
        font-weight: 500;
        position: relative;
        z-index: 10;
        letter-spacing: 0.35px;

        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -20px;
            left: 0;
            width: 0%;
            height: 3px;
            background: $LightColor;
            transition: all 0.3s;

            @media (max-width: 768px) {
                content: none;
            }
        }

        &.active {
            text-decoration: none;
            color: #FFFFFF;
            cursor: default;

            &::after {
                width: 100%;
            }
        }
    }

    &__submenu {
        position: absolute;
        z-index: 2;
        top: 99%;
        left: 0;
        width: 100%;
        background: $DarkColor;
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            position: relative;
            top: 0;
        }

        &.show {
            & .navbar__sublist {
                animation: showMenu 0.3s ease-in 0.2s forwards normal;

                @media (max-width: 768px) {
                    animation: showSubMenu 0.3s ease-in forwards normal;
                }
            }
        }

        &::after {
            content: "";
            width: 2000px;
            height: 100%;
            position: absolute;
            right: 100%;
            top: 0;
            background: $DarkColor;

            @media (max-width: 768px) {
                content: none;
            }
        }

        &::before {
            content: "";
            width: 2000px;
            height: 100%;
            position: absolute;
            left: 100%;
            top: 0;
            background: $DarkColor;

            @media (max-width: 768px) {
                content: none;
            }
        }
    }

    &__bg {
        position: fixed;
        display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 137px;
        background: rgba(0, 0, 0, 0.2);

        @media (max-width: 768px) {
            top: 0;
        }

        &.show {
            display: block;
            opacity: 1;
            animation: showBg 0.3s ease-in 0.2s forwards normal;
        }
    }

    &__sublist {
        height: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 140px;
        row-gap: 10px;
        overflow-y: hidden;
        background: $DarkColor;
        padding: 0px 0px;
        transition: all 0.3s;

        @media (max-width: 768px) {
            row-gap: 10px;
        }
    }

    &__subitem {
        padding: 10px 0px;

        &:hover {
            &>.navbar__submenu {
                height: 100%;
                visibility: inherit;
            }

            &>.navbar__link {
                text-decoration: none;
                color: #FFFFFF;

                &::after {
                    bottom: -10px;
                    width: 100%;
                }
            }
        }

        & .navbar__link {
            font-size: 0.875rem;
            padding: 5px 0;

            &::after {
                bottom: -10px;
            }
        }

        @media (max-width: 768px) {
            padding-left: 39px;
        }
    }
}

@keyframes showMenu {
    from {
        height: 0;
        padding: 0px 0px;
    }

    to {
        height: 300px;
        padding: 65px 0px 90px;


    }
}

@keyframes showSubMenu {
    from {
        height: 0;
        padding: 0px 0px;
    }

    to {
        height: 285px;
        padding: 30px 0px 0px;
    }

}

@keyframes showBG {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@keyframes showMobileMenu {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}