.questions {
    width: 100%;
    background: $DarkColor;

    & .container {
        padding-top: 60px;
        padding-bottom: 50px;
        display: flex;
        align-items: flex-start;
        column-gap: 101px;
        row-gap: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @media (max-width: 550px) {
            padding-top: 10px;
            padding-bottom: 30px;
            row-gap: 15px;
        }
    }

    &__title {
        color: $LightColor;
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 500;
        letter-spacing: -0.03em;
        line-height: 90px;

        @media (max-width: 991px) {
            font-size: 70px;
        }

        @media (max-width: 768px) {
            font-size: 60px;
        }

        @media (max-width: 550px) {
            font-size: 40px;
        }
    }

    &__content {
        width: 100%;
        border-top: 1px solid $LightColor;

    }

    &__item {
        width: 100%;
        padding: 30px 0;
        border-bottom: 1px solid rgba($LightColor, 0.2);

        @media (max-width: 550px) {
            padding: 20px 0;
        }

        &-title {
            font-size: 1.5rem;
            letter-spacing: 0.3px;
            color: $LightColor;
            font-weight: 400;
            font-family: $FAQFont;
            line-height: 35px;
            cursor: pointer;
        }

        &-text {
            color: $LightColor;
            line-height: 24px;
        }
    }

    &__sublist {
        margin-top: 32px;
        max-height: 0;
        overflow: hidden;

        &.show {
            animation: showList 0.3s ease-in forwards normal;
        }

        @media (max-width: 550px) {
            margin-top: 20px;
        }
    }

    @keyframes showList {
        from {
            max-height: 0;
        }

        to {
            max-height: 1000px;
        }
    }
}